.head{
    
    margin-left: 650px;
    margin-right: 400px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: lighter;
    
}
.h2{
      margin-left: 685px;
    margin-right: 400px;
    color: gainsboro;
    font-size: 22px;
    font-style: oblique 
}
.left {
  height: 150px;
  width: 265px;
 
float: left;
    position: relative;
overflow: hidden;
    margin-left: 400px;
padding-right: 100px;
    margin-top: 150px;
}
.right {
    float: left;
    position: relative;
    
margin-top: 150px;
    height: 150px;
  width: 400px;
 
}
.name{
   padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 10px;
}
.mail{
   padding-bottom: 10px;
padding-right: 35px;
    margin-left: 8px;
     padding-top: 10px;
}
.mes{
    padding-right: 225px;
padding-bottom: 20px;
    margin-top: 10px;
        padding-top: 20px
}
.btn{
float: right;
    margin-top: 15px;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
        
    
}